html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-add {
    text-align: center;
}

.form-add .actions {
    margin-top: 20px;
}

.alert.alert-error li {
    list-style: none;
}

.invisible {
    display: none;
}

.form-request {
    margin-top: 40px;
}

.form-request .form-group {
    float: left;
}

.form-request label {
    display: inline;
    vertical-align: super;
    margin-right: 20px;
}

.form-request button {
    margin-left: 20px;
}

table tbody tr:hover {
    cursor: pointer;
    color: darkcyan;
}

table {
    margin-top: 50px;
}

form + table {
    margin-top: 40px;
}

.form-request .actions + div {
    position: absolute;
    margin-top: 20px;
    text-decoration: underline;
}
